sklearn.model_selection
streamlit
numpy
pandas
seaborn
matplotlib
matplotlib.pyplot
sklearn
sklearn.model_selection
sklearn.tree
sklearn.naive_bayes
sklearn.linear_model
sklearn.svm
sklearn.neighbors
sklearn.ensemble
sklearn.metrics
PIL
